# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Snowflake deployment
output/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

test.txt
